body {
    background-image: url("/static/image/background.jpg");
    background-size: cover;
    background-position: top;
    margin: 0;
    padding-bottom: 50px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    border-radius: 15px;
    margin: 20px;
}

.navbar-brand {
    font-family: "Horizon", sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.navbar-brand .brand-name,
.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s;
    /* Add transition effect */
}

.navbar-brand .brand-name {
    display: block;
    font-size: 32px;
    margin-bottom: 5px;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    background-color: white;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
}

.navbar-nav {
    justify-content: center;
}

.navbar-nav .nav-item {
    text-align: center;
    margin: 0 10px;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #ff6b6b;
    transform: translateY(-2px);
    /* Move the button slightly upwards */
}

.navbar-nav .nav-item .nav-link::after {
    content: "";
    /* Create pseudo-element for animation */
    display: block;
    width: 0;
    height: 2px;
    background-color: #ff6b6b;
    transition: width 0.3s;
    /* Add transition effect */
}

.navbar-nav .nav-item:hover .nav-link::after {
    width: 100%;
    /* Expand the pseudo-element on hover */
}

.navbar-brand img {
    max-height: 30px;
    width: auto;
    margin-right: 10px;
}

.about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.about-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.about-content {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.footer-line {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}